<div id="sign_up">Program:                      <%= @hotkey.program.name %></div>
<br/>
<div id="sign_in">Name:                          <%= @hotkey.task %>
<p>Function:                      <%= @hotkey.keystrokes %></p>
<p>Description:                   <%= @hotkey.description %></p>
</div>
