<h1>Hotkey</h1>
<p>Program:                      <%= @hotkey.program.name %></p>
<p>Version:                      <%= @hotkey.program.version %></p>
<br/>
<p>Name:                          <%= @hotkey.name %></p>
<p>Function:                      <%= @hotkey.function %></p>
