<div id="new-program"><%= link_to "New Program", new_program_path %></div>

<div id="container">
    <% @programs.each do |program| %>
        <div class="program-title"><%= link_to "#{program.name}", program %>
        <div style="float: right;"><%= link_to "Edit", edit_program_path(program.id) %></div></div>
    <% end %>
</div>
