<div id="sign_up">Programs <%= link_to "+", new_program_path %></div>
<div id="sign_in">
<ul>
  <% @programs.each do |program| %>
    <li style="width: 300px;">
      <%= link_to "#{program.name}", program %>
      <div style="float: right;"><%= link_to "Edit", edit_program_path(program.id) %></div>
    </li>
  <% end %>
</ul>
</div>
