<h2><%= link_to "New Program", new_program_path %></h2>

<ul>
    <% @programs.each do |program| %>
        <li><%= link_to "#{program.name}", program %></li>
        <li><div style="float: right;"><%= link_to "Edit", edit_program_path(program.id) %></div></li>
    <% end %>
</ul>
