<div id="sign_up">Programs <%= link_to "+", new_program_path %></div>
<div id="sign_in">
<ul>
  <% @programs.each do |program| %>
    <li>
      <%= link_to "#{program.name} - #{program.version}", program %>
      <%= link_to "Edit", edit_program_path(program.id) %>
    </li>
  <% end %>
</ul>
</div>
