<div id="programs">
  <% @sort_favorites.each do |program, hotkeys| %>
    <div class="program">
      <div class="program-name">
      <h2><%= program.name %></h2>
      </div>
      <div class="hotkey-titles" id="hotkey-titles">
        <div class="hotkey-details">
          <h3>Keystroke</h3>
        </div>
        <div class="hotkey-details">
          <h3>Description</h3>
        </div>
      </div>
      <% hotkeys.each do |hotkey| %>
            <div class="hotkey-titles2">
              <div class="hotkey-details">
                <p><%= hotkey.keystrokes %></p>
              </div>
              <div class="hotkey-details">
                <p><%= hotkey.description %></p>
              </div>
            </div>
      <% end %>
  </div>
  <% end %>
</div>
