/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background: url(http://wallpapersonthe.net/wallpapers/b/2560x1440/2560x1440-space_art_stars_space_universe_quasars_digital_blasphemy-6919.jpg) no-repeat center center fixed;
   background-size: cover;
 }
#sign_in_notice a{
  color: orange;
  text-decoration: none;
}

}
 #title {
   font-size: 500%;
   color: orange;
   position: absolute;
   top: 50px;
 }
 #sign_up {
   font-size: 200%;
   color: white;
   position: absolute;
   top: 150px;
 }
 #sign_in {
   font-size: 200%;
   color: white;
   position: absolute;
   top: 200px;
 }
 .field {
   color: white;
   font-size: 150%;
   position: relative;
   top:170px;
 }
 .actions {
   position: relative;
   top: 200px;
 }
 .flash {
   border: 1px solid black;
   padding: 1em;
   background: #eee;
 }
#sign_in_notice{
  position: absolute;
  left: 900px;
  top: 100px;
  font-size: 150%;
  color: orange;
}
 .alert  { color: red;  }
 .notice { color: blue; }
