/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
body {
    font-family: helvetica;
    margin: 0;
    text-align: center;
    background-color: white;
    background: url(https://static.pexels.com/photos/27665/pexels-photo-27665.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    font-family: pacifico;
}

nav {
    font-size: 120%;
    color: orange;
    text-shadow: 2px 2px #ff0000;
}

nav a {
    text-decoration: none;
    color: orange;
    text-shadow: 2px 2px #ff0000;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

ul {
    list-style: none;
}

p {
    font-size: 300%;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav>a {
    padding: 0 20px;
}

a:hover {
    background: blue;
}

#sign_up {
    font-size: 200%;
    color: white;
}

#sign_in {
    font-size: 200%;
    color: white;
}
*/

@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
  background-image: url('https://images.pexels.com/photos/1134208/pexels-photo-1134208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1.logo {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: .5rem;
	margin-top: .5rem;
	line-height: 1.2;
}

header{
  background: #000;
  color: white;
  width: 100%;
  padding: 20px 30px;
  margin-left: 2rem;
  margin-right: 2rem;
  
  .logo{
    font-family: "Pacifico";
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .sign-in-notice{
      display: flex;
      a{
      color: white;
      
      &:not(:first-child){
        $spacer: 10px;
        border-left: solid #ebebeb 1px;
        padding-left: $spacer;
        margin-left: $spacer;
      }

    }
    }
    
    
  }
}

main{
  text-align: center;
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .title{
    width: 100%;
    text-align: center;
  }
  .container{    
    background: #fff;
    padding: 50px;
    
    nav{
      width: 100%;
      width: 800px;
      
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          padding: 10px;
        }
      }
    }
  }
}

footer{
  background: #000;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

p {
    font-size: 300%;
    margin: 0;
}


.field {
    color: white;
    font-size: 150%;
    position: relative;
    top: 170px;
}

.actions {
    position: relative;
    top: 200px;
}

.flash {
    padding: 1em;
    text-align: center;
    font-size: 20px;
}

#sign_in_notice {
    text-align: right;
    margin-top: 46px;
}

.alert {
    color: red;
}

.notice {
    color: blue;
}

#programs {
    display: flex;
    flex-wrap: wrap;
    font-size: 5px;
    margin-top: 60px;
    justify-content: center;
}

.program {
    border: 1px solid rgb(56, 57, 56);
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 15px;
}

.program-name {
    background-color: rgba(0, 178, 169, 0.75);
    font-size: 200%;
}

.hotkey-titles {
    display: flex;
    font-size: 200%;
}

.hotkey-titles2 {
    display: none;
}
.hotkey-details {
    display: flex;
    background-color: rgba(201,255,252,0.75);
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(56, 57, 56);
    height: 50px;
}

a:selected {
  color: red
}

.fave {
  color: red;
  text-decoration: none;
  font-size: 30px;
}
