// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sign_up {
  font-size: 200%;
  color: white;
  position: absolute;
  top: 150px;
}
#sign_in {
  font-size: 200%;
  color: white;
  position: absolute;
  top: 200px;
}
.field {
  color: white;
  font-size: 150%;
  position: relative;
  top:170px;
}
.actions {
  position: relative;
  top: 200px;
}
