// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: url(http://wallpapersonthe.net/wallpapers/b/2560x1440/2560x1440-space_art_stars_space_universe_quasars_digital_blasphemy-6919.jpg) no-repeat center center fixed;
  background-size: cover;
}
#title {
  font-size: 500%;
  color: orange;
  position: absolute;
  top: 50px;
}
#sign_up {
  font-size: 200%;
  color: white;
  position: absolute;
  top: 150px;
}
#sign_up a {
color: #FFFFFF;
text-decoration: none;
}
#sign_in {
  font-size: 200%;
  color: white;
  position: absolute;
  top: 200px;
}
#sign_in a {
color: #FFFFFF;
text-decoration: none;
}
#sign_out {
  font-size: 200%;
  color:white;
  position: absolute;
  top: 250px;
}
#sign_out a {
color: #FFFFFF;
text-decoration: none;
}
